@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Open+Sans&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

/****FONTES****
*Open Sans
*Corinthia
*Source Sans Pro
*Roboto
*/

:root{
    --main-text-color: rgb(85, 0, 25);
    --main-bg-color: rgb(255, 191, 212);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}

.flex{
    display: flex;
}

.w50{
    width: 50%;
}